*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pattern {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: rgb(29, 120, 180);
    background-image: url(img/pattern.png);
    background-size: contain;
}

.logo{
    width: 10%;
    padding-top: 30px;
   
}

h1{
    font-size: 50px;
    padding-top: 10px;
}

#Scrittore {
    color: rgb(103, 202, 248);
}
    
strong {
    color: grey;
}

#data{
    font-size: small;
    ;
}
.immagini-Tim {
    padding-top: 20px;    
}

footer {
    font-size: small;
}



.width-25{
    width: 25%;

}

.width-50{
    width: 50%;
}

 .row-head{

    background-color: rgb(20, 161, 255);
    color: white;
    
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.row1-3{
    background-color: rgba(23, 201, 255, 0.43);
    height: 55px;
}

.row2{
    
    height: 55px;
}

.margin-bot{
    margin-bottom: 50px;
}

.interessi{
    color: grey;
    margin-bottom: 10px;
}

.monitor{
    display: block;
    margin-bottom: 15px;

}

.contenitore{
    margin: 0 10px;

}